.lesson {
    position: relative;
    padding: 20px;
    display: flex;
    max-width: 100%;
    margin: 0 auto 70px;
    .lesson-thumb {
        z-index: 2;
        position: relative;
        .thumb {
            display: block;
            width: 300px;
            height: 380px;
            min-width: 300px;
            border: 1px solid rgba(39,39,39,.75);
            border-radius: 15px;
            .fullimage {
                max-width: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }
    .info {
        padding: 20px;
        padding-left: 40px;
    }
    .main-title {
        margin: 25px 0 15px;
    }
    footer {
        margin-top: 40px;
    }
}
